/* Scrollama */
#scroll {
    position: relative;
  }

  .scroll__graphic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .scroll__graphic.is-fixed {
    position: fixed;
  }
  
  .scroll__graphic.is-bottom {
    bottom: 0;
    top: auto;
  }


  .scroll__graphic .chart {
    position: absolute;
    right: 1rem;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }


label {
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }

  input[type="number"] {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #f2a600;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.2s;
  }


  button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #f2a600;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  button:hover {
    background-color: #d59100;
  }